<!DOCTYPE html>
<html class="body-full-height">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet"	href="{{ asset('css/style.css')}} ">
        <!-- CSS INCLUDE -->
       <link rel="stylesheet" type="text/css" id="theme"href="{{ asset('html/css/theme-default.css')}}"/>

<style media="screen">
.input-group { margin-bottom:10px; }
.separator { border-right: 1px solid #dfdfe0; }

</style>

    </head>
    <body>

        <div>
          {#
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>
            {% else %}
                <a style="display:none" href="{{ path('fos_user_security_login') }}"> {{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
            {% endif %}
            #}
        </div>

        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="flash-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}

        <div class="login-container">

            <div class="login-box animated fadeInDown">
                <div class="login-logo"></div>
                <div class="login-body">
                    

                    {% block fos_user_content %}
                    {% endblock fos_user_content %}
                  </div>
                    <div class="login-footer">
                        <div class="pull-left">
                            &copy; 2016 AutoApp
                        </div>
                    </div>
                </div>

            </div>
                  <!-- /.col-lg-12 -->

                  <script type="text/javascript" src="{{ asset('html/js/plugins/jquery/jquery.min.js')}}"></script>
                  <script type="text/javascript" src="{{ asset('html/js/plugins/jquery/jquery-ui.min.js')}}"></script>
                  <script type="text/javascript" src="{{ asset('html/js/plugins/bootstrap/bootstrap.min.js')}}"></script>
                  <!-- END PLUGINS -->

                  <!-- START THIS PAGE PLUGINS-->
                  <script type='text/javascript' src='{{ asset('html/js/plugins/icheck/icheck.min.js')}}'></script>
                  <script type="text/javascript" src="{{ asset('html/js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js')}}"></script>
                  <script type="text/javascript" src="{{ asset('html/js/plugins/scrolltotop/scrolltopcontrol.js')}}"></script>

                  <script type="text/javascript" src="{{ asset('html/js/plugins/morris/raphael-min.js')}}"></script>
                  <script type="text/javascript" src="{{ asset('html/js/plugins/morris/morris.min.js')}}"></script>
                  <script type="text/javascript" src="{{ asset('html/js/plugins/rickshaw/d3.v3.js')}}"></script>
                  <script type="text/javascript" src="{{ asset('html/js/plugins/rickshaw/rickshaw.min.js')}}"></script>
                  <script type='text/javascript' src='{{ asset('html/js/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js')}}'></script>
                  <script type='text/javascript' src='{{ asset('html/js/plugins/jvectormap/jquery-jvectormap-world-mill-en.js')}}'></script>
                  <script type='text/javascript' src='{{ asset('html/js/plugins/bootstrap/bootstrap-datepicker.js')}}'></script>
                  <script type="text/javascript" src="{{ asset('html/js/plugins/owl/owl.carousel.min.js')}}"></script>

                  <script type="text/javascript" src="{{ asset('html/js/plugins/moment.min.js')}}"></script>
                  <script type="text/javascript" src="{{ asset('html/js/plugins/daterangepicker/daterangepicker.js')}}"></script>
                  <!-- END THIS PAGE PLUGINS-->

                  <!-- START TEMPLATE -->


                  <script type="text/javascript" src="{{ asset('html/js/plugins.js')}}"></script>
                  <script type="text/javascript" src="{{ asset('html/js/actions.js')}}"></script>

                  <script type="text/javascript" src="{{ asset('html/js/demo_dashboard.js')}}"></script>
                  <!-- END TEMPLATE -->
              <!-- END SCRIPTS -->
    </body>
</html>
